
body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: rgb(23, 47, 99);
    filter: grayscale(100%);
}

h1{
    color: #e0e4a5;
    font-size: 32px;
    margin-bottom: 20px;
}

#start-container{
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#question-container{
    margin-bottom: 20px;
    color: rgb(228, 225, 88);
}

#questionNumber{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

#questionText{
    font-size: 16px;
}

.selection{
    display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
}

#result, #score{
    margin-bottom: 10px;
    color: rgb(228, 225, 88);
}

#submit-btn{
    margin: 0 auto;
}

#restart-btn{
    margin-top: 10px;
    margin: 0 auto;
}

#display-dashboard-btn{
    background-color: #0c4af3;
}

#dashboard-container{
    border: 1px solid black;
}